:root {
    --pane-size: 20px;

    --card-real-width: calc(var(--card-width) / var(--card-scale));
    --card-real-height: calc(var(--card-height) / var(--card-scale));
}

.pane {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: var(--pane-size);
    flex-direction: row-reverse;
    rotate: var(--rotation);
}

#left-hands {
    width: 100vh;
    transform: translateY(-100%);
    transform-origin: top left;
}

#right-hands {
    top: 100vh;
    right: var(--pane-size);
    width: 100vh;
    transform: translateX(100%);
    transform-origin: top right;
}

#top-hands {
    top: 0;
    width: 100vw;
}

#bottom-hands {
    bottom: 0;
    width: 100vw;
    height: auto;
    scale: 1.5;
    transform-origin: bottom;
}
#bottom-hands .card:hover {
    margin-right: 0;
}

.hand {
    color: white;
    font-size: 20px;
}
.hand > span {
    padding-inline: 20px;
}
.hand > .playing {
    font-weight: bold;
    border-inline: 3px solid red;
    border-radius: 5px;
}
.hand > div {
    display: flex;
}
.card {
    --x: 2;
    --y: 4;
    width: var(--card-real-width);
    height: var(--card-real-height);
    border-radius: 4px;
    margin-right: calc(-0.5 * var(--card-real-width));

    background-size: calc(var(--card-background-width) / var(--card-scale)) calc(var(--card-background-height) / var(--card-scale));
    background-position: calc(-1 * min(max(0, var(--x)), calc(var(--card-background-columns) - 1)) * var(--card-real-width))
                         calc(-1 * min(max(0, var(--y)), calc(var(--card-background-rows) - 1)) * var(--card-real-height));
    background-image: var(--card-background-image);
    background-repeat: no-repeat;

    font-size: calc(var(--card-real-height) / 2);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: width 0.4s ease,
                height 0.4s ease,
                transform 3s ease,
                margin-right 0.3s ease;
}

#table {
    --gap: 10px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1.5);
}

#table .card {
    margin: var(--gap);
    position: absolute;
}

#pile, #discard {
    width: calc(var(--card-real-width) + 2 * var(--gap));
    height: calc(var(--card-real-height) + 2 * var(--gap));
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

table {
    font-size: large;
    width: -webkit-fill-available;
}
td {
    padding: 5px 20px;
}

#start {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background: black;
    opacity: 0.6;
    border: none;
}

#start:hover {
    border: 1px solid lime;
}

#popup {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    transition: opacity 1s;
    color: white;
    background: black;
    border-radius: 10px;
    border: 1px solid red;
    font-size: 30px;
}

#color-chooser {
    display: none;
}

#popup #color-chooser {
    display: block;
}

#color-chooser i {
    display: block;
    height: 100px;
    width: 100px;
}