:root {
    --pane-size: 20px;
}

.pane {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: var(--pane-size);
    flex-direction: row-reverse;
}

#left-hands {
    width: 100vh;
    transform: translateX(var(--pane-size)) rotate(90deg);
    transform-origin: top left;
}

#right-hands {
    top: 100vh;
    right: var(--pane-size);
    width: 100vh;
    transform: rotate(-90deg) translateX(100%);
    transform-origin: top right;
}

#top-hands {
    top: 0;
    width: 100vw;
    transform: rotate(180deg);
}

.hand-hidden {
    display: flex;
}
.card {
    --scale: 3;
    --width: calc(156px / var(--scale));
    --height: calc(242px / var(--scale));
    display: block;
    width: var(--width);
    height: var(--height);
    border-radius: 4px;
    margin-right: calc(-0.5 * var(--width));

    background-size: cover;
    background-image: url('./back.png');

    border: 1px solid black;
    font-size: calc(var(--height) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

#table {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1.5);
}

#table .card {
    margin: 10px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#popup {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 50%;
    font-size: 50px;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

table {
    font-size: large;
    width: -webkit-fill-available;
}
td {
    padding: 5px 20px;
}

#start {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background: black;
    opacity: 0.6;
    border: none;
}

#start:hover {
    border: 1px solid lime;
}